#mount {
    background-color: azure;
}

#mainGrid {
    background-color: white;
}

.mainColumns {
    border: 4px solid black;
    height: 100%;
    padding: 10px;
}

#canvasWrapper {
    height: 100%;
    position: relative;
}

#canvas {
    width: 90%;
    height: 70%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid lightcoral;
    border-radius: 10px;
}

#leftPaneColumn{
    border-right: 0px;
    background-color: lightsteelblue;
}

#centerPaneColumn{
    background-color: ghostwhite;
}

#rightPaneColumn{
    border-left: 0px;
    background-color: lightsteelblue;
}

.mainGridRow{
    background-color: azure;
}

#leftPane{

}

.leftpaneitem{
    display: flex;
    border: 1px solid black;
    margin: 12px;
    align-items: center;
    background-color: lavenderblush;
    box-shadow: -3px 3px 10px black;
    border-radius: 5px;
}

.leftpaneitemImage{
    flex: 0 1 auto;
    margin-left: 5px;
}

.leftpaneitemText{
    flex: 0 1 auto;
    margin-left: 5px;
    font-weight: bold;
    color: darkgreen;
}

.formComponent{
    margin: 5px;
}














.componentLabels{
  width:235px;
  min-height:30px;
  height:auto;
  padding:5px;
  margin:10px;
  border:2px solid grey;
  border-radius:15px;
  position:relative;
  background-color: moccasin;
}
.componentLabels > span{
  font-size:17px;
  position:absolute;
  top:25%;
  margin-left:15px;
}
.componentLabels > img{
  height:50;
  width:50;
}
