#mount {
    /*background-color: azure;*/
}

#mainGrid {
    /*background-color: white;*/
    width: 98%;
}

.mainColumns {
    border: 1px solid lightslategrey;
    height: 100%;
    padding: 10px;
}

#canvasWrapper {
    height: 100%;
    position: relative;
}

/*#canvas {
    width: 90%;
    height: 70%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 3px 3px 20px gray;
}*/

#leftPaneColumn{
    border-right: 0px;
    /*background-color: lightsteelblue;*/
}

#centerPaneColumn{
    /*background-color: ghostwhite;*/
}

#rightPaneColumn{
    border-left: 0px;
    /*background-color: lightsteelblue;*/
}

.mainGridRow{
    background-color: white;
}

#leftPane{

}

.leftpaneitem{
    display: flex;
    border: 1px solid black;
    margin: 12px;
    align-items: center;
    /*background-color: lavenderblush;*/
    box-shadow: -3px 3px 9px #444;
    border-radius: 10px;
}

.leftpaneitem:hover{
    background-color: black !important;
}

.leftpaneitemImage{
    flex: 0 1 auto;
    margin-left: 5px;
}

.leftpaneitemText{
    flex: 0 1 auto;
    margin-left: 5px;
    font-weight: bold;
    /*color: darkgreen;*/
}

.formComponent{
    margin: 5px;
}


.themeButtonWrapper{
    float: right;
}

.arrowUp {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #00509e;
}
.arrowDown {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #00509e;
}
.deleteEditableEl{
    color:red;
}
