.canvas {
    width: 99%;
    min-height: 99%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 3px 3px 20px gray;
}

.canvasCompWrapper {
    padding: 5px;
    border-radius: 15px;
    margin: 10px 0px;
    box-shadow: 0px 4px 3px lightgray;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.canvasCompWrapper:hover {
    background-color: #EEE !important;
}
