.editableSection {
    display: flex;
    margin: 5px;
}

.editableSectionInput{
    flex: 0 1 auto;
    margin: 5px;
}

.editableSection input{
    margin-right: 5px;
}

.editableSection button{
    margin-right: -5px;
    width: 55px;
}
